    From Given Heart Data set Build a model using various Algorithm and find out which model is best for given data set

### Author- Saurabh Nigam

In [120]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split

In [121]:
Heart_data= pd.read_csv(r'C:\Users\Dhruv Singh\Desktop\ptyhon ass\Heart Failure data.csv')

### Analyizing the Data

In [122]:
Heart_data.head(15)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.5,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1
10,75.0,1,81,0,38,1,368000.00,4.0,131,1,1,10,1
11,62.0,0,231,0,25,1,253000.00,0.9,140,1,1,10,1
12,45.0,1,981,0,30,0,136000.00,1.1,137,1,0,11,1
13,50.0,1,168,0,38,1,276000.00,1.1,137,1,0,11,1
14,49.0,1,80,0,30,1,427000.00,1.0,138,0,0,12,0

In [123]:
Heart_data.info

<bound method DataFrame.info of       age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]>

In [124]:
Heart_data.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [125]:
Heart_data.head(5)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

### Cleaning the Data by eliminating columns which does not affect the result

In [126]:
Heart_data.drop(['creatinine_phosphokinase','serum_creatinine','serum_sodium'],axis=1,inplace=True)

In [127]:
Heart_data.head()

,age,anaemia,diabetes,ejection_fraction,high_blood_pressure,platelets,sex,smoking,time,DEATH_EVENT
0,75.0,0,0,20,1,265000.00,1,0,4,1
1,55.0,0,0,38,0,263358.03,1,0,6,1
2,65.0,0,0,20,0,162000.00,1,1,7,1
3,50.0,1,0,20,0,210000.00,1,0,7,1
4,65.0,1,1,20,0,327000.00,0,0,8,1

### spliting the data into test and train with taking DEATH_EVENT as target variable

In [128]:
x=Heart_data.drop('DEATH_EVENT',axis=1)
y=Heart_data['DEATH_EVENT']

In [129]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=1)

## Fitting a model Using Loigistic Regression

In [130]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [131]:
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

Predicting a model

In [132]:
pred=model.predict(x_test)

In [133]:
accuracy_score(y_test,pred)

0.8

In [134]:
from sklearn import metrics

In [135]:
print(metrics.classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.85      0.88      0.86        64
           1       0.67      0.62      0.64        26

    accuracy                           0.80        90
   macro avg       0.76      0.75      0.75        90
weighted avg       0.80      0.80      0.80        90

## using Decision Tree

In [136]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

In [137]:
dtree=DecisionTreeClassifier(criterion='gini',max_depth=2,random_state=2)
dtree.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=2, random_state=2)

### Scoring our tree

In [138]:
print(dtree.score(x_train,y_train))
print(dtree.score(x_test,y_test))

0.8516746411483254
0.8444444444444444

## Using GradeintBoosting

In [139]:
from sklearn.ensemble import GradientBoostingClassifier

In [140]:
gbcl=GradientBoostingClassifier(n_estimators=20,random_state=1)
gbcl.fit(x_train,y_train)
y_pred=gbcl.predict(x_test)
print(gbcl.score(x_test,y_test))

0.8333333333333334

## Using Ada boost

In [143]:
from sklearn.ensemble import AdaBoostClassifier

In [149]:
Adab=AdaBoostClassifier(n_estimators=20,base_estimator=dtree,random_state=2)
Adab.fit(x_train,y_train)
Y_pred=Adab.predict(x_test)
print(Adab.score(x_test,y_test))

0.8444444444444444